:root {
    --primary-color: #dffbb8;
    --secondary-color: #68b300;
    --bg-color: #000904;

    /* Define base font sizes for different headings */
    --h1-font-size-min: 2rem;   /* Minimum font size for h1 */
    --h1-font-size-max: 4.5rem; /* Maximum font size for h1 */
    --h1-font-size-vw: 5vw;   /* Preferred font size based on viewport width */

    --h2-font-size-min: 1.5rem;
    --h2-font-size-max: 3rem;
    --h2-font-size-vw: 3.5vw;

    --p-font-size-min: 1rem;
    --p-font-size-max: 1.375rem; /* 22px / 16px = 1.375rem */
    --p-font-size-vw: 1.25vw; /* 2.5vw is a common starting point, adjust as needed */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    transition-duration: 200ms;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 14px;
}

.darkerText {
    color: var(--secondary-color);
}

header,
main,
footer {
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
}

p, a {
   font-size: clamp(var(--p-font-size-min), var(--p-font-size-vw), var(--p-font-size-max));
}

h1{
    color: var(--primary-color);
    font-size: clamp(var(--h1-font-size-min), var(--h1-font-size-vw), var(--h1-font-size-max));
}

header {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

nav {
    color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a, header a, .content a{
    cursor: pointer;
    text-decoration: none;
}

.projImg {
    display: none;
}

nav a:hover, header a:hover, .content a:hover {
    opacity: 0.7;
}

.titleBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 1rem;
    border: solid var(--primary-color);
    border-width: 2px;
}

.titleBlock h1 {
  font-size: clamp(var(--h1-font-size-min), 4.8vw, 4.5rem);
}

main,
section {
    display: flex;
    flex-direction: column;
}

main {
    gap: 64px;
    padding-bottom: 64px;
}

section {
    gap: 48px;
}

.statsContainer {
    display: flex;
    gap: 24px;
    margin: auto;
}

.stats {
    display: flex;
    align-items: center;
    gap: 14px;
}

.stats>div {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
}

.stats div i {
    font-size: 1.4em;
}

.stats div div {
    display: grid;
    place-items: center;
    min-width: 40px;
}


.projectContainer {
   display: flex; 
   flex-direction: column;
   gap: 32px;
}

.headertext {
    margin-bottom: 24px;
}

.projectItem {
    display: flex;
    align-items: stretch;
    gap: 24px;
}

.projectItem div:first-child {
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex: 1;
}
 
.projectItem > div:last-child {
    aspect-ratio: 16/9;
    max-width: 30%;
    overflow: hidden;
    border-radius: 8px;
}

.projectItem > div:last-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.linkContainer {
    display: flex;
    align-items: center;
    gap: 24px;
}

.linkItem {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 14px !important;
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.linkItem:hover {
    opacity: 0.7;
}

.linkItem p {
    font-size: 0.9em;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.footerImg {
    border-radius: 100%;
    max-width: 96px;
    overflow: hidden;
}

.footerImg img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.footerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 0.75rem;
}

.footerText p {
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 15px;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    gap: 20px;
    cursor: pointer;
}

.icons a {
    text-decoration: none;
    color: var(--secondary-color);
}

.icons a:hover {
    color: var(--primary-color);
}

@media (min-width: 768px) {
  header,
    main,
    footer {
        max-width: 700px;
  }

    h2 {
    font-size: 2rem;
}

    .projectTitle h3 {
        font-size: 22px;
    }

  nav a {
    font-size: 1.25rem;
  }

  .titleBlock {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: auto;
      padding: 1.75rem;
      border: solid var(--primary-color);
      border-width: 2px;
  }

  .titleBlock h1 {
      font-size: 4.5rem;
  }

  .projectContainer {
   gap: 58px;
}

  .tenure {
    font-size: large;
  }
}
@media (min-width: 1200px) {
  
  header,
  main,
  footer { 
    max-width: 1000px;
  }
.titleBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 1.75rem;
    border: solid var(--primary-color);
    border-width: 2px;
}

  .projectContainer {
   gap: 68px;
    }

    h2 {
        font-size: 2.2rem;
    }

    .projectTitle h3 {
        font-size: 24px;
    }

  .titleBlock h1 {
      font-size: 5rem;
  }

  .tenure {
    font-size: larger;
}
}
