:root {
    --primary-color: #dbeafe;
    --secondary-color: #60a5fa;
    --bg-color: #060d24;
    --tl-cards: #35467d;

    /* Define base font sizes for different headings */
    --h1-font-size-min: 2rem;   /* Minimum font size for h1 */
    --h1-font-size-max: 4.5rem; /* Maximum font size for h1 */
    --h1-font-size-vw: 5vw;   /* Preferred font size based on viewport width */

    --h2-font-size-min: 1.5rem;
    --h2-font-size-max: 3rem;
    --h2-font-size-vw: 3.5vw;

    --p-font-size-min: 1rem;
    --p-font-size-max: 1.375rem; /* 22px / 16px = 1.375rem */
    --p-font-size-vw: 1.25vw; /* 2.5vw is a common starting point, adjust as needed */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    transition-duration: 200ms;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 14px;
}

.darkerText {
    color: var(--secondary-color);
}

header,
main,
footer {
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
}

.projImg {
    display: none;
}

p, a {
  font-size: clamp(var(--p-font-size-min), var(--p-font-size-vw), var(--p-font-size-max));
}

h1{
    color: var(--primary-color);
    font-size: clamp(var(--h1-font-size-min), var(--h1-font-size-vw), var(--h1-font-size-max));
}

header {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

nav {
    color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a, header a, .content a{
    cursor: pointer;
    text-decoration: none;
}

nav a:hover, header a:hover, .content a:hover {
    opacity: 0.7;
}

.titleBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 1rem;
    border: solid var(--primary-color);
    border-width: 2px;
}

.titleBlock h1 {
    font-size: clamp(var(--h1-font-size-min), 4.8vw, 4.5rem);
}

.projectContainer {
   display: flex; 
   flex-direction: column;
   gap: 32px;
}

.headertext {
    margin-bottom: 24px;
}

.projectItem {
    display: flex;
    align-items: stretch;
    gap: 24px;
}

.projectTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.breaker {
    display: flex;
    align-items: center;
}

.tenure {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.projectInfo {
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex: 1;
}

.projectInfo h3 {
    font-size: 20px;
}
 
.projectItem > div:last-child {
    aspect-ratio: 16/9;
    max-width: 30%;
    overflow: hidden;
    border-radius: 8px;
}

.projectItem > div:last-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1rem;
    align-items: center;
}

/* Timelines CSS starts here */

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1500px;
  margin: auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: var(--primary-color);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 0;
}

/* Container around content */
.container {
  padding: 10px 10px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -45px;
  background-color: var(--secondary-color);
  border: 3.5px solid var(--primary-color);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: -29px;
}

/* Place the container to the right */
.right {
  left: 280px;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: -5px;
  border: medium solid var(--primary-color);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--primary-color);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: -5px;
  border: medium solid var(--primary-color);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--primary-color) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -46px;
}

/* The actual content */
.content {
  padding: 20px 15px;
  background-color: var(--tl-cards);
  position: relative;
  border-radius: 6px;
 }

 .content a:hover {
    text-decoration: underline;
 }

.guide {
display: grid;
grid-template-columns: repeat(1, minmax(0,1fr));
gap: 25px;

}
.guideCard {
display: flex;
flex-direction: row;
align-items: center;
gap: 10px;
width: fit-content;
}

.guideCard i{
    font-size: 1.25rem;
    color: var(--secondary-color);
}
.guide a {
    text-decoration: none;
}

.guideCard:hover {
    padding: 5px;
    opacity: 0.7;
    i {
       padding-left: 10px; 
    }
    
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.footerImg {
    border-radius: 100%;
    max-width: 96px;
    overflow: hidden;
}

.footerImg img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.footerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 0.75rem;
}

.footerText p {
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 15px;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    gap: 20px;
    cursor: pointer;
}

.icons a {
    text-decoration: none;
    color: var(--secondary-color);
}

.icons a:hover {
    color: var(--primary-color);
}

@media (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    display: flex;
    width: fit-content;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid #373737;
    border-width: 10px 10px 10px 0;
    border-color: transparent #373737 transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .right::after,
  .left::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right, .left {
    left: 0%;
  }

  .imgContainer {
    gap: 24px;
}
}

@media (min-width: 768px){

header,
main,
footer {
max-width: 700px;
}

nav a {
    font-size: 1.25rem;
  }

h2 {
    font-size: 2rem;
}

.projectTitle h3 {
        font-size: 22px;
    }

  .titleBlock {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: auto;
      padding: 1.75rem;
      border: solid var(--primary-color);
      border-width: 2px;
  }

  .titleBlock h1 {
      font-size: 4.5rem;
  }

  .projectContainer {
   gap: 40px;
}

  .tenure {
    font-size: large;
  }

  .right {
      left: 380px;
    }
}
@media (min-width: 1200px) {
  
  header,
  main,
  footer { 
    max-width: 1000px;
  }

  .right {
    left: 530px;
  }

  .titleBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 1.75rem;
    border: solid var(--primary-color);
    border-width: 2px;
  }

  .projectContainer {
   gap: 48px;
}

    h2 {
        font-size: 2.2rem;
    }

    .projectTitle h3 {
        font-size: 24px;
    }

  .titleBlock h1 {
      font-size: 5rem;
  }

  .tenure {
    font-size: larger;
}
.guideCard:hover {
    padding: 8px;
    opacity: 0.7;
    i {
        padding-left: 25px; }
    }
}